* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}
.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    height: 44vh;
    width: 45vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0rem;
}

form input {
    border: 2px solid lightgray;
    border-radius: 5px;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.select-container img {
     max-width: 2rem;   
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 2px solid lightgray;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

form button {
    height: 3rem;
    background-color: #60a3e7;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}